.grid_container {
  height: 30em;
  width: auto;
  background-image: url();
  background-size: 25%;
  background-repeat: no-repeat;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 1px;
}

.mage_logo {
  height: 150px;
  width: 250px;
}

.mage_header {
  display: flex;
  justify-content: center;
  font-size: 2.1vw;
  color: white;
  word-spacing: 50px;
  margin-left: 3.4em;
}
