.album_container {
  margin-left: 35px;
  margin-top: 10px;
}

.title {
  color: white;
}

.view_btn {
  margin-left: 5%;
}

.link {
  text-decoration: none;
}

.view_link_text {
  margin-left: 45px;
}

.release_date {
  color: white;
}
